In [1]:
# Criar ambiente e sessão spark em memória

# Instalando biblioteca pyspark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [2]:
# Importando ferramentas (funções) do pyspark
from pyspark.sql import SparkSession as ss
from pyspark.sql import functions as f
from pyspark.sql.types import DoubleType

In [6]:
# Criando objeto spark
spark = ss.builder.appName("SENAI").getOrCreate()

In [7]:
spark

In [3]:
dados = (
    ("ana","analista", 6200),
    ("joao","assistente", 3100),
    ("julio","analista", 7900),
    ("bruna","cordenadora",16000),
    ("pedro","coordenador",15000),
    ("felipe","auxiliar",2500)
)

In [4]:
dados

(('ana', 'analista', 6200),
 ('joao', 'assistente', 3100),
 ('julio', 'analista', 7900),
 ('bruna', 'cordenadora', 16000),
 ('pedro', 'coordenador', 15000),
 ('felipe', 'auxiliar', 2500))

In [5]:
colunas = ("funcionario", "funcao", "salario")

In [8]:
# Criando Data Frame manualmente:
df1 = spark.createDataFrame(dados,colunas)

In [9]:
df1.show()

+-----------+-----------+-------+
|funcionario|     funcao|salario|
+-----------+-----------+-------+
|        ana|   analista|   6200|
|       joao| assistente|   3100|
|      julio|   analista|   7900|
|      bruna|cordenadora|  16000|
|      pedro|coordenador|  15000|
|     felipe|   auxiliar|   2500|
+-----------+-----------+-------+

In [12]:
df1.toPandas()

  funcionario       funcao  salario
0         ana     analista     6200
1        joao   assistente     3100
2       julio     analista     7900
3       bruna  cordenadora    16000
4       pedro  coordenador    15000
5      felipe     auxiliar     2500

In [14]:
dados = (
    ("claudio","analista", 5800),
    ("beatriz","assistente", 3300)
)

In [15]:
df2 = spark.createDataFrame(dados,colunas)

In [16]:
df2.show()

+-----------+----------+-------+
|funcionario|    funcao|salario|
+-----------+----------+-------+
|    claudio|  analista|   5800|
|    beatriz|assistente|   3300|
+-----------+----------+-------+

In [17]:
df = df1.union(df2)

In [18]:
df.show()

+-----------+-----------+-------+
|funcionario|     funcao|salario|
+-----------+-----------+-------+
|        ana|   analista|   6200|
|       joao| assistente|   3100|
|      julio|   analista|   7900|
|      bruna|cordenadora|  16000|
|      pedro|coordenador|  15000|
|     felipe|   auxiliar|   2500|
|    claudio|   analista|   5800|
|    beatriz| assistente|   3300|
+-----------+-----------+-------+

In [19]:
# Exibir informações sobre os tipos de dados e nomes e colunas do dataframe:
df.printSchema()

root
 |-- funcionario: string (nullable = true)
 |-- funcao: string (nullable = true)
 |-- salario: long (nullable = true)

In [21]:
# Adicionando nova coluna no dataframe spark:
# Metodo de visualização de uma nova coluna tabela view
df.withColumn("cenario1",
              f.round(df.salario * 1.05, 2)).show()

+-----------+-----------+-------+--------+
|funcionario|     funcao|salario|cenario1|
+-----------+-----------+-------+--------+
|        ana|   analista|   6200|  6510.0|
|       joao| assistente|   3100|  3255.0|
|      julio|   analista|   7900|  8295.0|
|      bruna|cordenadora|  16000| 16800.0|
|      pedro|coordenador|  15000| 15750.0|
|     felipe|   auxiliar|   2500|  2625.0|
|    claudio|   analista|   5800|  6090.0|
|    beatriz| assistente|   3300|  3465.0|
+-----------+-----------+-------+--------+

In [25]:
# Efetivando a alteração do df
df = df.withColumn("cenario1",
              f.round(df.salario * 1.05, 2))

In [26]:
df.toPandas()

  funcionario       funcao  salario  cenario1
0         ana     analista     6200    6510.0
1        joao   assistente     3100    3255.0
2       julio     analista     7900    8295.0
3       bruna  cordenadora    16000   16800.0
4       pedro  coordenador    15000   15750.0
5      felipe     auxiliar     2500    2625.0
6     claudio     analista     5800    6090.0
7     beatriz   assistente     3300    3465.0

In [28]:
# Criando coluna condicional
# No novo cenário será aplicado um reajuste de 7% para quem ganha
# ate 5000.  Para outros salários será o reajuste padrão de 5%

df.withColumn("cenario2",
              f.when(df.salario <= 5000, df.salario * 1.07)\
              .otherwise(df.salario *1.05)).show()

+-----------+-----------+-------+--------+--------+
|funcionario|     funcao|salario|cenario1|cenario2|
+-----------+-----------+-------+--------+--------+
|        ana|   analista|   6200|  6510.0|  6510.0|
|       joao| assistente|   3100|  3255.0|  3317.0|
|      julio|   analista|   7900|  8295.0|  8295.0|
|      bruna|cordenadora|  16000| 16800.0| 16800.0|
|      pedro|coordenador|  15000| 15750.0| 15750.0|
|     felipe|   auxiliar|   2500|  2625.0|  2675.0|
|    claudio|   analista|   5800|  6090.0|  6090.0|
|    beatriz| assistente|   3300|  3465.0|  3531.0|
+-----------+-----------+-------+--------+--------+

In [29]:
# Efetivando alterção
df = df.withColumn("cenario2",
              f.when(df.salario <= 5000, df.salario * 1.07)\
              .otherwise(df.salario *1.05))

In [ ]:
df.toPandas()

In [32]:
# Filtrando dados:
df.where("salario >= 7000").show()

+-----------+-----------+-------+--------+--------+
|funcionario|     funcao|salario|cenario1|cenario2|
+-----------+-----------+-------+--------+--------+
|      julio|   analista|   7900|  8295.0|  8295.0|
|      bruna|cordenadora|  16000| 16800.0| 16800.0|
|      pedro|coordenador|  15000| 15750.0| 15750.0|
+-----------+-----------+-------+--------+--------+

In [33]:
df.where("funcao like '%coord%'").show()

+-----------+-----------+-------+--------+--------+
|funcionario|     funcao|salario|cenario1|cenario2|
+-----------+-----------+-------+--------+--------+
|      pedro|coordenador|  15000| 15750.0| 15750.0|
+-----------+-----------+-------+--------+--------+

In [34]:
# Importando dataframe .csv
# inferSchema: sobe o dados das variaveis certas
url = "/content/drive/MyDrive/BasesPark/empresas/part*"
empresas = spark.read.csv(
    url,
    sep=";",
    header=True,
    inferSchema=True,
    encoding="latin1"

)

In [35]:
empresas.show()

+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
| cnpj|        razao_social|natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|                      49|          0,00|    1|           NULL|
| 1355|BRASILEIRO & OLIV...|             2062|                      49|          0,00|    5|           NULL|
| 4820|REGISTRO DE IMOVE...|             3034|                      32|          0,00|    5|           NULL|
| 5347|ROSELY APARECIDA ...|             2135|                      50|          0,00|    5|           NULL|
| 6846|BADU E FILHOS TEC...|             2062|                      49|       4000,00|    1|           NULL|
| 8416|  ELETRICA RUBI LTDA|             2062|                      49|          0,00|    5|           NULL|
| 8992|SHIROMA VEICULOS ...|             2062|                      49|          0,00|    5|           NULL|
| 9091|CONTATOS BAR E LA...|             2062|                      49|          0,00|    5|           NULL|
| 9614|ANTONIA APARECIDA...|             2135|                      50|          0,00|    5|           NULL|
| 9896|DORACY CORAT DA C...|             2135|                      50|          0,00|    5|           NULL|
|12112|LANCHONETE RIO VE...|             2062|                      49|          0,00|    5|           NULL|
|12605|VALMAR JACAREI CO...|             2062|                      49|          0,00|    5|           NULL|
|13407|ROSANA CRISTINA D...|             2135|                      50|          0,00|    5|           NULL|
|13408|CELIO RODRIGUES D...|             2135|                      50|          0,00|    5|           NULL|
|13721|MAQFRAN COMERCIO ...|             2062|                      49|          0,00|    1|           NULL|
|21181|MOURA & SILVA MER...|             2062|                      49|          0,00|    5|           NULL|
|21858|PAMARATI COMERCIO...|             2135|                      50|          0,00|    1|           NULL|
|22277|INACIO RODRIGUES ...|             2135|                      50|          0,00|    5|           NULL|
|24205|SUELY LEME MARI A...|             2135|                      50|       1000,00|    1|           NULL|
|26805|SUELI BATISTA DA ...|             2135|                      50|          0,00|    5|           NULL|
+-----+--------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [36]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_responsavel: integer (nullable = true)
 |-- capital_social: string (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente_federativo: string (nullable = true)

In [37]:
# Usando o toPandas() com muitas linhas
empresas.limit(20).toPandas()

,cnpj,razao_social,natureza_juridica,qualificacao_responsavel,capital_social,porte,ente_federativo
0,306,FRANCAMAR REFRIGERACAO TECNICA S/C LTDA,2240,49,"0,00",1,None
1,1355,BRASILEIRO & OLIVEIRA LTDA,2062,49,"0,00",5,None
2,4820,"REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...",3034,32,"0,00",5,None
3,5347,ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS,2135,50,"0,00",5,None
4,6846,BADU E FILHOS TECIDOS LTDA,2062,49,"4000,00",1,None
5,8416,ELETRICA RUBI LTDA,2062,49,"0,00",5,None
6,8992,SHIROMA VEICULOS LTDA.,2062,49,"0,00",5,None
7,9091,CONTATOS BAR E LANCHONETE LTDA,2062,49,"0,00",5,None
8,9614,ANTONIA APARECIDA DE SOUZA ULIANA,2135,50,"0,00",5,None
9,9896,DORACY CORAT DA COSTA,2135,50,"0,00",5,None
10,12112,LANCHONETE RIO VERMELHO LTDA,2062,49,"0,00",5,None
11,12605,VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC ...,2062,49,"0,00",5,None
12,13407,ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA,2135,50,"0,00",5,None
13,13408,CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS,2135,50,"0,00",5,None
14,13721,MAQFRAN COMERCIO DE PECAS LTDA,2062,49,"0,00",1,None
15,21181,MOURA & SILVA MERCEARIA LIMITADA,2062,49,"0,00",5,None
16,21858,PAMARATI COMERCIO DE RACOES LTDA,2135,50,"0,00",1,None
17,22277,INACIO RODRIGUES DO NASCIMENTO,2135,50,"0,00",5,None
18,24205,SUELY LEME MARI ANI 25086572800,2135,50,"1000,00",1,None
19,26805,SUELI BATISTA DA COSTA SILVA,2135,50,"0,00",5,None

In [40]:
# QTD de registros
print(f"{empresas.count():,.2f}")

4,585,679.00

In [41]:
empresas.show(truncate=False)

+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj |razao_social                                                                                |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|306  |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                      |0,00          |1    |NULL           |
|1355 |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                      |0,00          |5    |NULL           |
|4820 |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                      |0,00          |5    |NULL           |
|5347 |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                      |0,00          |5    |NULL           |
|6846 |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                      |4000,00       |1    |NULL           |
|8416 |ELETRICA RUBI LTDA                                                                          |2062             |49                      |0,00          |5    |NULL           |
|8992 |SHIROMA VEICULOS LTDA.                                                                      |2062             |49                      |0,00          |5    |NULL           |
|9091 |CONTATOS BAR E LANCHONETE LTDA                                                              |2062             |49                      |0,00          |5    |NULL           |
|9614 |ANTONIA APARECIDA DE SOUZA ULIANA                                                           |2135             |50                      |0,00          |5    |NULL           |
|9896 |DORACY CORAT DA COSTA                                                                       |2135             |50                      |0,00          |5    |NULL           |
|12112|LANCHONETE RIO VERMELHO LTDA                                                                |2062             |49                      |0,00          |5    |NULL           |
|12605|VALMAR JACAREI COMERCIO DE PRODUTOS ALIMENTIC LTDA                                          |2062             |49                      |0,00          |5    |NULL           |
|13407|ROSANA CRISTINA DUARTE RODRIGUES SERRALHERIA                                                |2135             |50                      |0,00          |5    |NULL           |
|13408|CELIO RODRIGUES DE MORAES DEPOSITO DE BANANAS                                               |2135             |50                      |0,00          |5    |NULL           |
|13721|MAQFRAN COMERCIO DE PECAS LTDA                                                              |2062             |49                      |0,00          |1    |NULL           |
|21181|MOURA & SILVA MERCEARIA LIMITADA                                                            |2062             |49                      |0,00          |5    |NULL           |
|21858|PAMARATI COMERCIO DE RACOES LTDA                                                            |2135             |50                      |0,00          |1    |NULL           |
|22277|INACIO RODRIGUES DO NASCIMENTO                                                              |2135             |50                      |0,00          |5    |NULL           |
|24205|SUELY LEME MARI ANI 25086572800                                                             |2135             |50                      |1000,00       |1    |NULL           |
|26805|SUELI BATISTA DA COSTA SILVA                                                                |2135             |50                      |0,00          |5    |NULL           |
+-----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 20 rows

In [43]:
empresas.show(5, False)

+----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj|razao_social                                                                                |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|306 |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                      |0,00          |1    |NULL           |
|1355|BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                      |0,00          |5    |NULL           |
|4820|REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                      |0,00          |5    |NULL           |
|5347|ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                      |0,00          |5    |NULL           |
|6846|BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                      |4000,00       |1    |NULL           |
+----+--------------------------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 5 rows

In [46]:
# Mostre alguns registros que tenha a palavra "hospital" em sua razão social:
# O 'like' diferencia maiúsculas de minúsculas
# O 'ilike' não diferencia

empresas.where("razao_social ilike '%hospital%'").show(15, False)

+--------+-------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|cnpj    |razao_social                                                             |natureza_juridica|qualificacao_responsavel|capital_social|porte|ente_federativo|
+--------+-------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
|1756451 |AUTOMED DIST DE PRODUTOS AUTOMOTIVOS E HOSPITALARES LTDA                 |2062             |49                      |0,00          |1    |NULL           |
|2616076 |SERVICO MEDICO HOSPITALAR DE TAGUATINGA LTDA                             |2062             |49                      |0,00          |1    |NULL           |
|5082994 |LEBEC MEDICAL COMERCIO E SERVICOS DE SISTEMAS HOSPITALARES LTDA          |2062             |49                      |80000,00      |1    |NULL           |
|5791196 |VEDOMED COMERCIO MEDICO HOSPITALAR LTDA                                  |2062             |49                      |0,00          |5    |NULL           |
|7847837 |CIENTIFICA MEDICA HOSPITALAR LTDA                                        |2062             |49                      |4000000,00    |5    |NULL           |
|8746690 |JMJB DIAGNOSTICOS E SERVICOS HOSPITALARES LTDA                           |2054             |10                      |927840,00     |5    |NULL           |
|8992012 |HOSPITAL DE CLINICAS E MATERNIDADE DA ZONA OESTE LTDA                    |2240             |49                      |50000,00      |1    |NULL           |
|10264741|SARE-ASSOCIACAO EVANGELICA DE CAPELANIA HOSPITALAR                       |3999             |16                      |0,00          |5    |NULL           |
|11340967|ECHO SPINE PRODUTOS HOSPITALARES EIRELI                                  |2305             |65                      |100000,00     |1    |NULL           |
|16586898|G C MEDIC COMERCIO E SERVICO DE PRODUTOS HOSPITALARES EIRELI             |2305             |65                      |500000,00     |1    |NULL           |
|28767561|LK MEDICAL COMERCIO DE EQUIPAMENTOS HOSPITALARES -  EIRELI               |2305             |65                      |100000,00     |3    |NULL           |
|29128075|ACR PRESTACAO DE SERVICOS HOSPITALARES LTDA                              |2062             |49                      |5000,00       |5    |NULL           |
|30695382|ATM SERVICOS MEDICOS ASSESSORIA E EMPREENDIMENTOS HOSPITALARES LTDA - SCP|2127             |5                       |11000,00      |5    |NULL           |
|41705105|EL HAJE DISTRIBUIDORA DE MATERIAIS MEDICO HOSPITALARES LTDA              |2062             |49                      |100000,00     |1    |NULL           |
|273999  |GUIMARAES DISTRIBUIDORA HOSPITALAR LTDA                                  |2062             |49                      |0,00          |5    |NULL           |
+--------+-------------------------------------------------------------------------+-----------------+------------------------+--------------+-----+---------------+
only showing top 15 rows

In [47]:
# Renomeando colunas:
empresas.withColumnsRenamed({
    "natureza_juridica": "natureza",
    "qualificacao_responsavel": "responsavel",
    "capital_social": "capital",
    "ente_federativo": "ente"
}).show()

+-----+--------------------+--------+-----------+-------+-----+----+
| cnpj|        razao_social|natureza|responsavel|capital|porte|ente|
+-----+--------------------+--------+-----------+-------+-----+----+
|  306|FRANCAMAR REFRIGE...|    2240|         49|   0,00|    1|NULL|
| 1355|BRASILEIRO & OLIV...|    2062|         49|   0,00|    5|NULL|
| 4820|REGISTRO DE IMOVE...|    3034|         32|   0,00|    5|NULL|
| 5347|ROSELY APARECIDA ...|    2135|         50|   0,00|    5|NULL|
| 6846|BADU E FILHOS TEC...|    2062|         49|4000,00|    1|NULL|
| 8416|  ELETRICA RUBI LTDA|    2062|         49|   0,00|    5|NULL|
| 8992|SHIROMA VEICULOS ...|    2062|         49|   0,00|    5|NULL|
| 9091|CONTATOS BAR E LA...|    2062|         49|   0,00|    5|NULL|
| 9614|ANTONIA APARECIDA...|    2135|         50|   0,00|    5|NULL|
| 9896|DORACY CORAT DA C...|    2135|         50|   0,00|    5|NULL|
|12112|LANCHONETE RIO VE...|    2062|         49|   0,00|    5|NULL|
|12605|VALMAR JACAREI CO...|    2062|         49|   0,00|    5|NULL|
|13407|ROSANA CRISTINA D...|    2135|         50|   0,00|    5|NULL|
|13408|CELIO RODRIGUES D...|    2135|         50|   0,00|    5|NULL|
|13721|MAQFRAN COMERCIO ...|    2062|         49|   0,00|    1|NULL|
|21181|MOURA & SILVA MER...|    2062|         49|   0,00|    5|NULL|
|21858|PAMARATI COMERCIO...|    2135|         50|   0,00|    1|NULL|
|22277|INACIO RODRIGUES ...|    2135|         50|   0,00|    5|NULL|
|24205|SUELY LEME MARI A...|    2135|         50|1000,00|    1|NULL|
|26805|SUELI BATISTA DA ...|    2135|         50|   0,00|    5|NULL|
+-----+--------------------+--------+-----------+-------+-----+----+
only showing top 20 rows

In [48]:
# Efetivando alteração:

empresas = empresas.withColumnsRenamed({
    "natureza_juridica": "natureza",
    "qualificacao_responsavel": "responsavel",
    "capital_social": "capital",
    "ente_federativo": "ente"
})

In [49]:
empresas.show(5, False)

+----+--------------------------------------------------------------------------------------------+--------+-----------+-------+-----+----+
|cnpj|razao_social                                                                                |natureza|responsavel|capital|porte|ente|
+----+--------------------------------------------------------------------------------------------+--------+-----------+-------+-----+----+
|306 |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240    |49         |0,00   |1    |NULL|
|1355|BRASILEIRO & OLIVEIRA LTDA                                                                  |2062    |49         |0,00   |5    |NULL|
|4820|REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034    |32         |0,00   |5    |NULL|
|5347|ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135    |50         |0,00   |5    |NULL|
|6846|BADU E FILHOS TECIDOS LTDA                                                                  |2062    |49         |4000,00|1    |NULL|
+----+--------------------------------------------------------------------------------------------+--------+-----------+-------+-----+----+
only showing top 5 rows

In [53]:
# Antes de converter a coluna 'capital' teremos que substituir a ',' por '.':
# Caso contrário o pyspark não consegue converter a coluna... ela ficará nula.

empresas.withColumn("capital",
                    f.regexp_replace("capital", ",", ".",)).show()

+-----+--------------------+--------+-----------+-------+-----+----+
| cnpj|        razao_social|natureza|responsavel|capital|porte|ente|
+-----+--------------------+--------+-----------+-------+-----+----+
|  306|FRANCAMAR REFRIGE...|    2240|         49|   0.00|    1|NULL|
| 1355|BRASILEIRO & OLIV...|    2062|         49|   0.00|    5|NULL|
| 4820|REGISTRO DE IMOVE...|    3034|         32|   0.00|    5|NULL|
| 5347|ROSELY APARECIDA ...|    2135|         50|   0.00|    5|NULL|
| 6846|BADU E FILHOS TEC...|    2062|         49|4000.00|    1|NULL|
| 8416|  ELETRICA RUBI LTDA|    2062|         49|   0.00|    5|NULL|
| 8992|SHIROMA VEICULOS ...|    2062|         49|   0.00|    5|NULL|
| 9091|CONTATOS BAR E LA...|    2062|         49|   0.00|    5|NULL|
| 9614|ANTONIA APARECIDA...|    2135|         50|   0.00|    5|NULL|
| 9896|DORACY CORAT DA C...|    2135|         50|   0.00|    5|NULL|
|12112|LANCHONETE RIO VE...|    2062|         49|   0.00|    5|NULL|
|12605|VALMAR JACAREI CO...|    2062|         49|   0.00|    5|NULL|
|13407|ROSANA CRISTINA D...|    2135|         50|   0.00|    5|NULL|
|13408|CELIO RODRIGUES D...|    2135|         50|   0.00|    5|NULL|
|13721|MAQFRAN COMERCIO ...|    2062|         49|   0.00|    1|NULL|
|21181|MOURA & SILVA MER...|    2062|         49|   0.00|    5|NULL|
|21858|PAMARATI COMERCIO...|    2135|         50|   0.00|    1|NULL|
|22277|INACIO RODRIGUES ...|    2135|         50|   0.00|    5|NULL|
|24205|SUELY LEME MARI A...|    2135|         50|1000.00|    1|NULL|
|26805|SUELI BATISTA DA ...|    2135|         50|   0.00|    5|NULL|
+-----+--------------------+--------+-----------+-------+-----+----+
only showing top 20 rows

In [54]:
empresas = empresas.withColumn("capital",
                    f.regexp_replace("capital", ",", ".",))

In [55]:
empresas.show()

+-----+--------------------+--------+-----------+-------+-----+----+
| cnpj|        razao_social|natureza|responsavel|capital|porte|ente|
+-----+--------------------+--------+-----------+-------+-----+----+
|  306|FRANCAMAR REFRIGE...|    2240|         49|   0.00|    1|NULL|
| 1355|BRASILEIRO & OLIV...|    2062|         49|   0.00|    5|NULL|
| 4820|REGISTRO DE IMOVE...|    3034|         32|   0.00|    5|NULL|
| 5347|ROSELY APARECIDA ...|    2135|         50|   0.00|    5|NULL|
| 6846|BADU E FILHOS TEC...|    2062|         49|4000.00|    1|NULL|
| 8416|  ELETRICA RUBI LTDA|    2062|         49|   0.00|    5|NULL|
| 8992|SHIROMA VEICULOS ...|    2062|         49|   0.00|    5|NULL|
| 9091|CONTATOS BAR E LA...|    2062|         49|   0.00|    5|NULL|
| 9614|ANTONIA APARECIDA...|    2135|         50|   0.00|    5|NULL|
| 9896|DORACY CORAT DA C...|    2135|         50|   0.00|    5|NULL|
|12112|LANCHONETE RIO VE...|    2062|         49|   0.00|    5|NULL|
|12605|VALMAR JACAREI CO...|    2062|         49|   0.00|    5|NULL|
|13407|ROSANA CRISTINA D...|    2135|         50|   0.00|    5|NULL|
|13408|CELIO RODRIGUES D...|    2135|         50|   0.00|    5|NULL|
|13721|MAQFRAN COMERCIO ...|    2062|         49|   0.00|    1|NULL|
|21181|MOURA & SILVA MER...|    2062|         49|   0.00|    5|NULL|
|21858|PAMARATI COMERCIO...|    2135|         50|   0.00|    1|NULL|
|22277|INACIO RODRIGUES ...|    2135|         50|   0.00|    5|NULL|
|24205|SUELY LEME MARI A...|    2135|         50|1000.00|    1|NULL|
|26805|SUELI BATISTA DA ...|    2135|         50|   0.00|    5|NULL|
+-----+--------------------+--------+-----------+-------+-----+----+
only showing top 20 rows

In [56]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza: integer (nullable = true)
 |-- responsavel: integer (nullable = true)
 |-- capital: string (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente: string (nullable = true)

In [58]:
# Convertendo coluna de string para numérica
empresas.withColumn("capital",
                    empresas.capital.cast(DoubleType())).show()

+-----+--------------------+--------+-----------+-------+-----+----+
| cnpj|        razao_social|natureza|responsavel|capital|porte|ente|
+-----+--------------------+--------+-----------+-------+-----+----+
|  306|FRANCAMAR REFRIGE...|    2240|         49|    0.0|    1|NULL|
| 1355|BRASILEIRO & OLIV...|    2062|         49|    0.0|    5|NULL|
| 4820|REGISTRO DE IMOVE...|    3034|         32|    0.0|    5|NULL|
| 5347|ROSELY APARECIDA ...|    2135|         50|    0.0|    5|NULL|
| 6846|BADU E FILHOS TEC...|    2062|         49| 4000.0|    1|NULL|
| 8416|  ELETRICA RUBI LTDA|    2062|         49|    0.0|    5|NULL|
| 8992|SHIROMA VEICULOS ...|    2062|         49|    0.0|    5|NULL|
| 9091|CONTATOS BAR E LA...|    2062|         49|    0.0|    5|NULL|
| 9614|ANTONIA APARECIDA...|    2135|         50|    0.0|    5|NULL|
| 9896|DORACY CORAT DA C...|    2135|         50|    0.0|    5|NULL|
|12112|LANCHONETE RIO VE...|    2062|         49|    0.0|    5|NULL|
|12605|VALMAR JACAREI CO...|    2062|         49|    0.0|    5|NULL|
|13407|ROSANA CRISTINA D...|    2135|         50|    0.0|    5|NULL|
|13408|CELIO RODRIGUES D...|    2135|         50|    0.0|    5|NULL|
|13721|MAQFRAN COMERCIO ...|    2062|         49|    0.0|    1|NULL|
|21181|MOURA & SILVA MER...|    2062|         49|    0.0|    5|NULL|
|21858|PAMARATI COMERCIO...|    2135|         50|    0.0|    1|NULL|
|22277|INACIO RODRIGUES ...|    2135|         50|    0.0|    5|NULL|
|24205|SUELY LEME MARI A...|    2135|         50| 1000.0|    1|NULL|
|26805|SUELI BATISTA DA ...|    2135|         50|    0.0|    5|NULL|
+-----+--------------------+--------+-----------+-------+-----+----+
only showing top 20 rows

In [59]:
empresas = empresas.withColumn("capital",
                    empresas.capital.cast(DoubleType()))

In [60]:
empresas.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza: integer (nullable = true)
 |-- responsavel: integer (nullable = true)
 |-- capital: double (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente: string (nullable = true)

In [61]:
empresas.show(3)

+----+--------------------+--------+-----------+-------+-----+----+
|cnpj|        razao_social|natureza|responsavel|capital|porte|ente|
+----+--------------------+--------+-----------+-------+-----+----+
| 306|FRANCAMAR REFRIGE...|    2240|         49|    0.0|    1|NULL|
|1355|BRASILEIRO & OLIV...|    2062|         49|    0.0|    5|NULL|
|4820|REGISTRO DE IMOVE...|    3034|         32|    0.0|    5|NULL|
+----+--------------------+--------+-----------+-------+-----+----+
only showing top 3 rows

In [62]:
empresas.where("capital is null").show()

+----+------------+--------+-----------+-------+-----+----+
|cnpj|razao_social|natureza|responsavel|capital|porte|ente|
+----+------------+--------+-----------+-------+-----+----+
+----+------------+--------+-----------+-------+-----+----+

In [63]:
empresas.where("ente is not null").show(20, False)

+--------+----------------------------------------------------------------------------------------------+--------+-----------+-------+-----+---------------------------+
|cnpj    |razao_social                                                                                  |natureza|responsavel|capital|porte|ente                       |
+--------+----------------------------------------------------------------------------------------------+--------+-----------+-------+-----+---------------------------+
|784274  |SECRETARIA MUNICIPAL DE SAUDE                                                                 |1031    |5          |0.0    |5    |PARATINGA - BA             |
|2030715 |AGENCIA NACIONAL DE TELECOMUNICACOES                                                          |1104    |16         |0.0    |5    |UNIï¿½O                    |
|3104818 |AUTARQUIA MUNICIPAL DE ESPORTES E RECREACAO DE OURINHOS                                       |1120    |16         |0.0    |5    |OURINHOS - SP              |
|6035005 |INSTITUTO DE PREVIDENCIA DO MUNICIPIO DE CANHOTINHO                                           |1120    |16         |0.0    |5    |CANHOTINHO - PE            |
|6110684 |FUNDO MUNICIPAL DA EDUCACAO                                                                   |1333    |5          |0.0    |5    |JURANDA - PR               |
|6553523 |PIAUI SECRETARIA DO PLANEJAMENTO SEPLAN                                                       |1023    |5          |0.0    |5    |PIAUI                      |
|10471096|FUNDO MUNICIPAL DE SAUDE DE SEBASTIANOPOLIS DO SUL                                            |1333    |5          |0.0    |5    |SEBASTIANOPOLIS DO SUL - SP|
|11373944|FUNDO MUNICIPAL DE SAUDE - FMS                                                                |1333    |5          |0.0    |5    |FEIRA DA MATA - BA         |
|11429746|FUNDO MUNICIPAL DE SAUDE DE NOVO HORIZONTE                                                    |1333    |5          |0.0    |5    |NOVO HORIZONTE - BA        |
|11740122|FUNDO MUNICIPAL DE SAUDE DE CARRASCO BONITO - FMSCB                                           |1333    |5          |0.0    |5    |CARRASCO BONITO - TO       |
|11902441|FUNDO MUNICIPAL DE SAUDE                                                                      |1333    |5          |0.0    |5    |GENTIO DO OURO - BA        |
|12157728|FUNDO MUNICIPAL DE SAUDE DE VILA VELHA - F M S                                                |1333    |5          |0.0    |5    |VILA VELHA - ES            |
|13474300|FUNDO MUNICIPAL DE ASSISTENCIA SOCIAL                                                         |1333    |5          |0.0    |5    |ANDORINHA - BA             |
|13652375|CAMARA MUNICIPAL DE SANTA CRUZ CABRALIA                                                       |1066    |5          |0.0    |5    |SANTA CRUZ CABRALIA - BA   |
|15086405|COMISSAO MUNICIPAL DE DEFESA CIVIL - COMDEC                                                   |1210    |16         |0.0    |5    |FRANCISCO ALVES - PR       |
|18144198|FUNDO MUNICIPAL DE RECURSOS DESTINADOS AO ATENDIMENTO DOS DIREITOS DA CRIANCA E DO ADOLESCENTE|1333    |5          |0.0    |5    |SARAPUI - SP               |
|18688946|FUNDO MUNICIPAL DE DESENVOLVIMENTO AMBIENTAL DE UBA                                           |1031    |5          |0.0    |5    |UBA - MG                   |
|18741825|FUNDO MUNICIPAL DO IDOSO DE SERAFINA CORREA                                                   |1333    |5          |0.0    |5    |SERAFINA CORREA - RS       |
|19204815|ASSOCIACAO DOS MORADORES DO BAIRRO LIMBERGER                                                  |1210    |16         |0.0    |5    |ARROIO DO TIGRE - RS       |
|19412696|FUNDO MUNICIPAL DA  CULTURA                                                                   |1333    |5          |0.0    |5    |CARMO DO RIO CLARO - MG    |
+--------+----------------------------------------------------------------------------------------------+--------+-----------+-------+-----+---------------------------+
only showing top 20 rows

In [65]:
empresas.where("ente ilike'%sao jose do rio preto%'").show(50, False)

+-------+-------------------------------------------+--------+-----------+-------+-----+--------------------------+
|cnpj   |razao_social                               |natureza|responsavel|capital|porte|ente                      |
+-------+-------------------------------------------+--------+-----------+-------+-----+--------------------------+
|4691691|SERVICO MUNICIPAL AUTONOMO DE AGUA E ESGOTO|1120    |16         |0.0    |5    |SAO JOSE DO RIO PRETO - SP|
+-------+-------------------------------------------+--------+-----------+-------+-----+--------------------------+

In [67]:
# Empresas com capital etre 50 e 100k
empresas.where("capital between 50000 and 100000").show(20, False)

+-------+--------------------------------------------------------------+--------+-----------+--------+-----+----+
|cnpj   |razao_social                                                  |natureza|responsavel|capital |porte|ente|
+-------+--------------------------------------------------------------+--------+-----------+--------+-----+----+
|116791 |AGNALDO ROCHA VIANA                                           |2135    |50         |60000.0 |1    |NULL|
|399680 |MARIANTE COMERCIO DE ALIMENTOS LTDA                           |2062    |49         |50000.0 |5    |NULL|
|550169 |FERNANDO SKAF                                                 |2135    |50         |70000.0 |3    |NULL|
|616948 |NOVA PRIMUS COMERCIO DE PECAS INDUSTRIAL LTDA                 |2062    |49         |50000.0 |1    |NULL|
|655784 |HOB & NOB COM. IMPORT. E EXPORT. LTDA                         |2062    |49         |52000.0 |3    |NULL|
|820160 |I B ABRAMOSKI EIRELI                                          |2305    |65         |100000.0|1    |NULL|
|860872 |LUSA LOCADORA DE VEICULOS LTDA                                |2062    |49         |100000.0|5    |NULL|
|892150 |INSTITUTO EDUCACIONAL FERNANDO MESQUITA DE ARAUJO LTDA        |2062    |49         |60000.0 |1    |NULL|
|1006573|HOTEL ACROPOLE LTDA                                           |2062    |49         |75000.0 |3    |NULL|
|1036065|JZS COMERCIO E REPRESENTACOES LTDA                            |2062    |49         |100000.0|1    |NULL|
|1257318|HOTEL BEGLIOMINI LTDA                                         |2062    |49         |100000.0|1    |NULL|
|1374493|S M GOMES DA SILVA                                            |2135    |50         |100000.0|5    |NULL|
|1485159|SENTINELA ABATEDOURO DE AVES LTDA                             |2062    |49         |100000.0|5    |NULL|
|1697758|J. IRAN DE SOUSA                                              |2135    |50         |80000.0 |1    |NULL|
|1784987|LOCARDI COMERCIO E SERVICOS  EIRELI                           |2305    |65         |100000.0|3    |NULL|
|1829459|AGROLAR IMOBILIARIA, CORRETORA DE IMOVEIS E INCORPORADORA LTDA|2062    |49         |100000.0|1    |NULL|
|1880499|ITALIA HOME INDUSTRIA E COMERCIO DE MARMORES LTDA             |2062    |49         |60000.0 |1    |NULL|
|1886938|CENCI COMERCIO DE AUTOPECAS E MANUTENCAO VEICULAR EIRELI      |2305    |65         |80000.0 |3    |NULL|
|1900791|JURACY SILVA LISBOA                                           |2135    |50         |70000.0 |5    |NULL|
|1960340|QUALIT COMERCIO MANUTENCAO E INSTALACOES EIRELI               |2305    |65         |100000.0|1    |NULL|
+-------+--------------------------------------------------------------+--------+-----------+--------+-----+----+
only showing top 20 rows

In [73]:
# Normalizando dados nulos
# FILLna ele renomeia o dado
empresas = empresas.fillna({
    "ente":"N/A",
    "capital":0
})

In [74]:
empresas.show(3)

+----+--------------------+--------+-----------+-------+-----+----+
|cnpj|        razao_social|natureza|responsavel|capital|porte|ente|
+----+--------------------+--------+-----------+-------+-----+----+
| 306|FRANCAMAR REFRIGE...|    2240|         49|    0.0|    1| N/A|
|1355|BRASILEIRO & OLIV...|    2062|         49|    0.0|    5| N/A|
|4820|REGISTRO DE IMOVE...|    3034|         32|    0.0|    5| N/A|
+----+--------------------+--------+-----------+-------+-----+----+
only showing top 3 rows

In [76]:
# Importando dados de estabelecimentos:
url = "/content/drive/MyDrive/BasesPark/estabelecimentos/part*"
estabs = spark.read.csv(
    url,
    sep=";",
    inferSchema=True,
    header=True,
    encoding="latin1"
)

In [77]:
estabs.count()

4836219

In [78]:
estabs.show()

+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|          logradouro|numero|        complemento|            bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|     fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
|       1879|         1|     96|                          1|      PIRAMIDE M. C.|                 8|               20011029|                        1|                      NULL|NULL|                19940509|              1412602|                  NULL|               RUA|     JOSE FIGLIOLINI|   608|               NULL|         VILA NILO| 2278020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       2818|         1|     43|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|                19940512|              4671100|                  NULL|               RUA|              BAQUIA|   416|               NULL|VL NOVA MANCHESTER| 3443000| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       3110|         1|      7|                          1|                NULL|                 8|               19971231|                        1|                      NULL|NULL|                19940512|              4789007|                  NULL|               RUA|     LEOCADIA CINTRA|   180|            CONJ 83|             MOOCA| 3112040| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       3733|         1|     80|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|                19940513|              7490101|                  NULL|               RUA|        AFONSO CELSO|  1102|             CASA 1|      VILA MARIANA| 4119061| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         3|     27|                          2|   EMBROIDERY & GIFT|                 8|               19980429|                        1|                      NULL|NULL|                19950509|              4755501|                  NULL|               RUA|DOUTOR GABRIEL NI...|   177|               NULL|       RUDGE RAMOS| 9632040| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         4|      8|                          2|                NULL|                 8|               20040719|                        1|                      NULL|NULL|                19990715|              4755502|                  NULL|           AVENIDA|   SENADOR VERGUEIRO|  4556|               NULL|       RUDGE RAMOS| 9750900| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         2|     46|                          2|   EMBROIDERY & GIFT|                 8|               19960802|                        1|                      NULL|NULL|                19950406|              4755501|                  NULL|           AVENIDA|             KENNEDY|   700|P2PULMANN QUIO P67L|    JD TRES MARIAS| 9725000| SP|     7075| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|       4628|         1|     65|                          1|                NULL|                 2|               20051103|                        0|                      NULL|NULL|                19940516|              4930202|  7739099,4930201,5...|               RUA|  TIETE (VL VIVALDI)|   189|               NULL|       RUDGE RAMOS| 9615000| SP|     7075|   11|  43625402|   11|  43622689|        11|43625402|SHIRLEY_LUPOS@HOT...|             NULL|                     NULL|
|      10804|         1|     71|                          1|              KOLVOX|                 8|               20170613|                        1|                      NULL|NULL|                19940530|              1412601|               1412603|           AVENIDA|          NORDESTINA|   917|           SALA  02|    VILA AMERICANA| 8021000| SP|     7107|   11|  20580186| NULL|      NULL|      NULL|    NULL|NCCONTABILIDADE@T...|             NULL|                     NULL|
|      11448|         1|      0|                          1|              PROLAV|                 8|               20081231|                       71|                      NULL|NULL|                19940530|              4649408|                  NULL|               RUA|          PITAGUARAS|    05|               NULL|           POMPEIA| 5027100| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      13566|         1|     58|                          1|                NULL|                 8|               20000914|                        1|                      NULL|NULL|                19940607|              4120400|               4299501|               RUA|       CAETANO NIGRO|   480|               NULL|       VL HARMONIA|14802450| SP|     6163| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      15324|         1|      1|                          1|MINI SACOLAO VILA...|                 8|               20080214|                       54|                      NULL|NULL|                19940610|              4729699|                  NULL|               RUA|      JAN DE CAPELLI|   238|                240|        PQ BRISTOL| 4193070| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      17853|         1|     36|                          1|J Z B COMERCIO DE...|                 8|               20071003|                       54|                      NULL|NULL|                19940615|              2051700|               2052500|           ESTRADA|MUNIC.ALTAIR A GU...|    SN|              KM 04|        ZONA RURAL|15430000| SP|     6117| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      18103|         1|     89|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|                19940616|              4723700|                  NULL|           AVENIDA|    FREDERICO OZANAN|   946|               NULL|      VILA SAMPAIO|17205000| SP|     6607| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      22504|         1|      2|                          1|                NULL|                 8|               20151119|                        1|                      NULL|NULL|                19940627|              4761003|  4761001,4761002,4...|               RUA|          SANTA CRUZ|   595|               NULL|            CENTRO|13560680| SP|     7079|  016|   2706821| NULL|      NULL|        16| 2706821|                NULL|             NULL|                     NULL|
|      23494|         1|     20|                          1|                LEGO|                 8|               20150209|                       73|                      NULL|NULL|                19940629|              1412601|               1412603|               RUA|  CEL EMIDIO PIEDADE|   154|               NULL|              PARI| 3018010| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      23494|         2|      0|                          2|                NULL|                 8|               20150209|                       73|                      NULL|NULL|                20041201|              4642701|                  NULL|             PRACA|       JULIO PRESTES|29/137|           LOJA P19|    CAMPOS ELISEOS| 1218020| SP|     7107| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24117|         1|      5|                          1|                NULL|                 8|               19850705|                        2|                      NULL|NULL|                19680725|              8888888|                  NULL|           AVENIDA|   ALMIRANTE BARROSO|    63|     SALA 308 PARTE|            CENTRO|20031003| RJ|     6001| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24242|         1|     15|                          1|                NULL|                 8|               20081231|                       71|                      NULL|NULL|                19940630|              4722901|                  NULL|           AVENIDA|        BANDEIRANTES|  3928|               NULL| BRIGADEIRO TOBIAS|18108000| SP|     7145| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
|      24323|         1|     15|                          1|          POSTO XARA|                 8|               20081231|                       71|                      NULL|NULL|                19820114|              4731800|               4732600|           RODOVIA|              BR 050|   S/N|             KM 214|        ZONA RURAL|75795000| GO|     9295| NULL|      NULL| NULL|      NULL|      NULL|    NULL|                NULL|             NULL|                     NULL|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+------------------+--------+---+---------+-----+----------+-----+----------+----------+--------+--------------------+-----------------+-------------------------+
only showing top 20 rows