<a href="https://colab.research.google.com/github/mortari23/Python-DataScience/blob/main/Revis%C3%A3o_Python_25n3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 25/09/2025
#Revisão da linguagem Python para anásile de dados

# Crie 3 variáveis para que voce se apresente. atribua os valores
#nas variaveis e depois os exiba em tela
# me chamo 'Fulano', sou 'Função' e moro em 'cidade'
nome = 'Riguetto'
profissao = 'Soldado do exercito'
cidade = 'SÃO JOSÉ DO RIO PRETO'

print('Me chamo', nome, 'sou', profissao, 'e moro em', cidade)

Me chamo Riguetto sou Soldado do exercito e moro em SÃO JOSÉ DO RIO PRETO

In [ ]:
# Uso de Format-String
print(f'me chamo{nome} sou {profissao}, e moro em {cidade} ')

me chamoRiguetto sou Soldado do exercito, e moro em SÃO JOSÉ DO RIO PRETO

In [ ]:
#Crie um programa que receba a idade de uma pessoa e mostre em tela
#se ela é maior ou menor
idade = int (input('Informe sua Idade : '))
if idade >= 18 :

    print(f'voce tem {idade} anos e é maior de idade!')
else:
    print(f'voce tem {idade} anos e é menor de idade!')

Informe sua Idade : 20
voce é maior de idade

In [ ]:
#Crie um programa que receba dois nomes e duas alturas.
#mostre em tela qual das pessoas é a mais alta ou possuem a mesma altura
nome1 = input("Digite o nome da 1º pessoa : ")
altura1 = float(input(f"Digite a altura do (a) {nome1} : "))
nome2 = input("Digite o nome da 2º pessoa : ")
altura2 = float(input(f"digite a altura do (a) {nome2}"))
if altura1 == altura2:
    print(f"{nome1} e {nome2} tem a mesma altura! {altura1}")
elif altura1 > altura2:
    print(f"{nome1} é mais alta que {nome2}!")
else:
    print(f"a {nome2} é mais alto(a) do que {nome1}")

Digite o nome da 1º pessoa : 10
Digite a altura do (a) 10 : 10
Digite o nome da 2º pessoa : 10
digite a altura do (a) 1010
10 e 10 tem a mesma altura! 10.0

In [ ]:
# CRIE Um programa que receba a idade e o salário de uma pessoa.
# SE a idade for maior ou igual a 50 e salário menor que 3500, reajuste o salário em 7.5%
# Senão reajuste em 5%
#Mostre salários reajus e a diferença bruta do reajuste


idade = int(input("Digite sua idade: "))
salario = float(input("Digite seu salario1: "))
if idade >= 50 and salario < 3500:
    salario_reajustado = salario * 1.075
    tx =7.5
    print(f"Valor reajustado é de {salario_reajustado}")
else:
    tx= 5
    salario_reajustado = salario * 1.05
print(f"Novo salário: {salario_reajustado} | Taxa de  {tx}%")
print(f"Diferença bruta: R$ {salario_reajustado - salario}")

Digite sua idade: 50
Digite seu salario1: 2500
Valor reajustado é de 2687.5
Novo salário: 2687.5 | Taxa de  7.5%
Diferença bruta: R$ 187.5

In [ ]:
#Crie um programa que verifique se uma pessoa pode ou não doar sangue
#Sera digitada a idade e o peso da pessoa.
#regra: Somente pessoas com idade entre 16 e 69 e peso a partir de 50kg
#podem doar

idade = int(input("Informe sua Idade: "))
peso = float(input("Digite seu Peso: "))
if idade >=16 and idade <=69 and peso >= 50:
    print("Voce pode doar")
else:
    print("Infelizmente voce nao pode doar sangue")

Informe sua Idade: 70
Digite seu Peso: 50
Infelizmente voce nao pode doar sangue

In [ ]:
idade = int(input("Informe sua Idade: "))
if idade < 16 or idade > 69:
    print(f"voce noa pode doar sangue! idade não permitida")
else:
    peso = float(input("Digite seu Peso: "))
if peso >= 50:
    print("Voce pode doar")
else:
    print("Infelizmente voce nao pode doar sangue")

In [ ]:
#29/09/2025
# Revisão : Estruturas de repetição em Python

#Estrutura 'while'

cont = 1 #Variável Contadora
while cont <= 10:
    print("Boa noite SENAI!")
    # Incrementando contador
    cont = cont + 1

Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!
Boa noite SENAI!

In [ ]:
#Faça o mesmo codigo acima porém inserindo o número da repetição
# EX: repetição 1: Boa noite senai!
cont = 1 #Variável Contadora
while cont <= 10:
    print(f" Repetição {cont}: Boa noite SENAI!")
    # Incrementando contador
    cont = cont + 1

 Repetição 1: Boa noite SENAI!
 Repetição 2: Boa noite SENAI!
 Repetição 3: Boa noite SENAI!
 Repetição 4: Boa noite SENAI!
 Repetição 5: Boa noite SENAI!
 Repetição 6: Boa noite SENAI!
 Repetição 7: Boa noite SENAI!
 Repetição 8: Boa noite SENAI!
 Repetição 9: Boa noite SENAI!
 Repetição 10: Boa noite SENAI!

In [ ]:
# Crie um programa que receba um numero e calcule sua tabuada

numero = int(input("Digite um Numero para saber sua tabuada : "))
print (f"\n*** Tabuada do numero {numero} *** \n")
cont = 0

while cont <= 10:
    print(f"{numero}  x  {cont} = {numero*cont}")
    #incrementando  contador:
    cont = cont + 1
print("\nFIM de PROGRAMA!")

Digite um Numero para saber sua tabuada : 7

*** Tabuada do numero 7 ***

7  x  0 = 0
7  x  1 = 7
7  x  2 = 14
7  x  3 = 21
7  x  4 = 28
7  x  5 = 35
7  x  6 = 42
7  x  7 = 49
7  x  8 = 56
7  x  9 = 63
7  x  10 = 70

FIM de PROGRAMA!

In [ ]:
#Crie um Programa que receba uma frase e quantas vezes o usuário deseja
#repeti-la
#EX: Entrada: Olá | Entrada 2:3
#Saída:
#Olá
#Olá
#Olá

cont = 1
frase = input("Digite uma frase : ")
qtd = int(input("Quantas vezes voce quer que repete :"))

while cont <= qtd:
    print(f" {cont} : {frase}")
    cont += 1

In [ ]:

frase = input("Digite uma frase : ")
qtd = int(input("Quantas vezes voce quer que repete :"))
 #Usando contagem Regressiva:
while qtd >0:
    print(frase)
    qtd -=1
    #qtd = qtd -1

Digite uma frase : NATHAN É BRABO
Quantas vezes voce quer que repete :10
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO
NATHAN É BRABO

In [ ]:
#Crie um programa que receba um valor numérico.
#O programa deve imprimir toda sua sequencia... do 1 ao valor do numero, porem
#somente os valores impares devereão ser impressos na tela.
# Exemplo: 9
# Saida :  1,3,5,7

cont = 0
numero = int(input("Digite um numero : "))
while cont <= numero:
    if cont % 2:
     print(cont, end=" ")
    cont += 1

Digite um numero : 10
1 3 5 7 9

In [ ]:
#Estrutura de repetição 'for';
#Crie um programa que exiba 100 números em tela.
#Use o comando 'for':

for numero in range(1, 101):
    print(numero, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
# Crie um programa que receba um nome e substitua suas vogais pelo que segue:
# a = @
#e - 3
#i - 1
nome = input("Digite um nome: ")
# Strip() --> Remove espaçoes em braco a esquerda e a direita
# Lower() --> Deixa todas as letras minúsculas
nome = nome.strip().lower()
nome = nome.replace("a","@").replace("e","3").replace("i","1")\
    .replace("o","0").replace("u","v")
for letra in nome:
    print(f"{letra.upper()}", end=" ")

Digite um nome: vai
V @ 1

In [ ]:
#Mostre na tela números sequencias do 1 ao 500.
#no entanto somente de 5 em 5.
#ex: 5,10,15

for numero in range(0,501,5):
    if numero == 0:
        continue #Comando 'continue' interrompe o loop e o retorna para o início
    print(numero, end=" ")

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500

In [ ]:
#FOGUETAO

from time  import sleep
cont = 10 #Contador
nome = input("Digite um nome de um foguete : ")
while cont >0:
    print(f"{cont}")
    sleep(1) #AGUADAR 1 SEGUNDO ATRAVES DA FUNÇÃO SLEEP()
    cont -= 1
# Fim do LOOP WHILE
print(f"Lançamento do foguete {nome} iniciado")

Digite um nome de um foguete : FOGUETAO
10
9
8
7
6
5
4
3
2
1
Lançamento do foguete FOGUETAO iniciado

In [ ]:
for numero in range (1000,0,-1):
    print(numero, end=" ")

1000 999 998 997 996 995 994 993 992 991 990 989 988 987 986 985 984 983 982 981 980 979 978 977 976 975 974 973 972 971 970 969 968 967 966 965 964 963 962 961 960 959 958 957 956 955 954 953 952 951 950 949 948 947 946 945 944 943 942 941 940 939 938 937 936 935 934 933 932 931 930 929 928 927 926 925 924 923 922 921 920 919 918 917 916 915 914 913 912 911 910 909 908 907 906 905 904 903 902 901 900 899 898 897 896 895 894 893 892 891 890 889 888 887 886 885 884 883 882 881 880 879 878 877 876 875 874 873 872 871 870 869 868 867 866 865 864 863 862 861 860 859 858 857 856 855 854 853 852 851 850 849 848 847 846 845 844 843 842 841 840 839 838 837 836 835 834 833 832 831 830 829 828 827 826 825 824 823 822 821 820 819 818 817 816 815 814 813 812 811 810 809 808 807 806 805 804 803 802 801 800 799 798 797 796 795 794 793 792 791 790 789 788 787 786 785 784 783 782 781 780 779 778 777 776 775 774 773 772 771 770 769 768 767 766 765 764 763 762 761 760 759 758 757 756 755 754 753 752 751 750 749 748 747 746 745 744 743 742 741 740 739 738 737 736 735 734 733 732 731 730 729 728 727 726 725 724 723 722 721 720 719 718 717 716 715 714 713 712 711 710 709 708 707 706 705 704 703 702 701 700 699 698 697 696 695 694 693 692 691 690 689 688 687 686 685 684 683 682 681 680 679 678 677 676 675 674 673 672 671 670 669 668 667 666 665 664 663 662 661 660 659 658 657 656 655 654 653 652 651 650 649 648 647 646 645 644 643 642 641 640 639 638 637 636 635 634 633 632 631 630 629 628 627 626 625 624 623 622 621 620 619 618 617 616 615 614 613 612 611 610 609 608 607 606 605 604 603 602 601 600 599 598 597 596 595 594 593 592 591 590 589 588 587 586 585 584 583 582 581 580 579 578 577 576 575 574 573 572 571 570 569 568 567 566 565 564 563 562 561 560 559 558 557 556 555 554 553 552 551 550 549 548 547 546 545 544 543 542 541 540 539 538 537 536 535 534 533 532 531 530 529 528 527 526 525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501 500 499 498 497 496 495 494 493 492 491 490 489 488 487 486 485 484 483 482 481 480 479 478 477 476 475 474 473 472 471 470 469 468 467 466 465 464 463 462 461 460 459 458 457 456 455 454 453 452 451 450 449 448 447 446 445 444 443 442 441 440 439 438 437 436 435 434 433 432 431 430 429 428 427 426 425 424 423 422 421 420 419 418 417 416 415 414 413 412 411 410 409 408 407 406 405 404 403 402 401 400 399 398 397 396 395 394 393 392 391 390 389 388 387 386 385 384 383 382 381 380 379 378 377 376 375 374 373 372 371 370 369 368 367 366 365 364 363 362 361 360 359 358 357 356 355 354 353 352 351 350 349 348 347 346 345 344 343 342 341 340 339 338 337 336 335 334 333 332 331 330 329 328 327 326 325 324 323 322 321 320 319 318 317 316 315 314 313 312 311 310 309 308 307 306 305 304 303 302 301 300 299 298 297 296 295 294 293 292 291 290 289 288 287 286 285 284 283 282 281 280 279 278 277 276 275 274 273 272 271 270 269 268 267 266 265 264 263 262 261 260 259 258 257 256 255 254 253 252 251 250 249 248 247 246 245 244 243 242 241 240 239 238 237 236 235 234 233 232 231 230 229 228 227 226 225 224 223 222 221 220 219 218 217 216 215 214 213 212 211 210 209 208 207 206 205 204 203 202 201 200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 178 177 176 175 174 173 172 171 170 169 168 167 166 165 164 163 162 161 160 159 158 157 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142 141 140 139 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
n = ["joao","Vinicius","Gabriel"]
n.append("Mortari")
print(n)
print(n[0])

['joao', 'Vinicius', 'Gabriel', 'Mortari']
joao

In [ ]:
# 30/09/2025
# Listas, tuplas e dicionários

#Criando lista manualmente
carros = ["ka","mobi","marea","kwid","civic","corrola","corsa"]
print(carros)
print (len(carros))

['ka', 'mobi', 'marea', 'kwid', 'civic', 'corrola', 'corsa']
7

In [ ]:
# Acessando valores indivudualmente através do for:
for carro in carros:
    print(carro.capitalize(), end=", ") #CAPITALIZE DEIXA A primeira Letra Maiuscula

Ka, Mobi, Marea, Kwid, Civic, Corrola, Corsa,

In [ ]:
# Criação de uma matriz ----> Listas aninhadas
carros = [
    ["mobi","fiat",2000,7000],
    ["corrola","toyota",2024,160000],
    ["991","porsche",2024,1000000],
    ["kwid","renault",2020,57000]
]

In [ ]:
print(f"QTD de elementos na lista : {len(carros)}")

QTD de elementos na lista : 4

In [ ]:
# Imprimindo valores da lista (matriz)
for e in carros:
    print(f"Modelo: {e [0].capitalize():8} | Marca: {e [1].capitalize():8} | Ano: {e[2]} | Preço: R$ {e[3]:,.2f}")

Modelo: Mobi     | Marca: Fiat     | Ano: 2000 | Preço: R$ 7,000.00
Modelo: Corrola  | Marca: Toyota   | Ano: 2024 | Preço: R$ 160,000.00
Modelo: 991      | Marca: Porsche  | Ano: 2024 | Preço: R$ 1,000,000.00
Modelo: Kwid     | Marca: Renault  | Ano: 2020 | Preço: R$ 57,000.00

In [ ]:
# Crie um programa em Python que faça o cadastro de itens em estoque.
# O sistema deve cadastrar: nome do produto, preço unitário e quantidade.
# O cadastro será indefinido e será encerrado quando o usuário digitar 'sair'
# No nome do produto.
# Ao final mostre em tela um relatório com todos itens de estoque e também
# O valor total de cada um deles e o valor total do estoque.

estoque = [] # Criando Lista Vazia
print(f"*** MÓDULO DE ESTOQUE; ***\n")
while True: #Loop "Infinito"
    nome = input("\nDigite o nome do produto : ")
    nome = nome.strip().upper()
    if nome == "SAIR":
        break # Comado Break interrompe um Loop (destrói o LOOP!!!!)
    preco = float(input(f"\nDigite o preço do {nome}: "))
    qtd = int(input(f"Digite a quantidade do {nome}: "))
    # Após receber todas iformações, faremos a inclusão do elemento na lista:
    estoque.append([nome,preco,qtd])
# Fim do LOOP While
if estoque:
    print(f"\n*** RELAÇÃO DE ITENS EM ESTOQUE ***\n")
    total = 0 #Variável acumuladora para somar o total do estoque
    for e in  estoque:
        print(f"{e[0]:10} | Preço: R$ {e[1]:10,.2f} | Quantidade: {e[2]:,.2f} \
            | {e[1] * e[2]:,.2f}")
        total = total + e[1] * e[2]
    # Fim do loop for
    print(f"\nTotal em estoque: R${total:,.2f}")
else:
    print(f"\nNenhum item cadastrado!!!")

*** MÓDULO DE ESTOQUE; ***


Digite o nome do produto : sair

Nenhum item cadastrado!!!

In [ ]:
# Criando um dicionário manualmente:

carros = {
    "kwid":["renault", 2024, 72000],
    "civic": ["honda", 2020, 125000],
    "renegade": ["jeep", 2022, 85000],
    "corrola": ["toyota", 2025, 165000]
}

carros

{'kwid': ['renault', 2024, 72000],
 'civic': ['honda', 2020, 125000],
 'renegade': ['jeep', 2022, 85000],
 'corrola': ['toyota', 2025, 165000]}

In [ ]:
carros["kwid"]

['renault', 2024, 72000]

In [ ]:
carros["civic"]

['honda', 2020, 125000]

In [ ]:
chaves = list(carros.keys())

In [ ]:
chaves

['kwid', 'civic', 'renegade', 'corrola']

In [ ]:
valores = list(carros.values())

valores

[['renault', 2024, 72000],
 ['honda', 2020, 125000],
 ['jeep', 2022, 85000],
 ['toyota', 2025, 165000]]

In [ ]:
for c, v in carros.items():
    print(f"{c.capitalize():10} | Marca; {v[0]} | Ano:{v[1]} | Valor: {v[2]:,.2f}")

Kwid       | Marca; renault | Ano:2024 | Valor: 72,000.00
Civic      | Marca; honda | Ano:2020 | Valor: 125,000.00
Renegade   | Marca; jeep | Ano:2022 | Valor: 85,000.00
Corrola    | Marca; toyota | Ano:2025 | Valor: 165,000.00

In [ ]:
# 01/10/2025
# Refaça a atividade do cadastro de estoque porém usando um dicionário de dados

estoque = {} # Criando dicionário vazio
print(f"*** MÓDULO DE ESTOQUE; ***\n")
while True: #Loop "Infinito"
    nome = input("\nDigite o nome do produto : ")
    nome = nome.strip().upper()
    if nome == "SAIR":
        break # Comado Break interrompe um Loop (destrói o LOOP!!!!)
    preco = float(input(f"\nDigite o preço do {nome}: "))
    qtd = int(input(f"Digite a quantidade do {nome}: "))
    # Após receber todas iformações, faremos a inclusão do elemento no dicionário:
    estoque[nome] = [preco,qtd]
    # estoque.update({nome: [preco,qtd]})
# Fim do LOOP While
if estoque:
    print(f"\n*** RELAÇÃO DE ITENS EM ESTOQUE ***\n")
    total = 0 #Variável acumuladora para somar o total do estoque
    for c, v in estoque.items():
        print(f"{c:10} | Preço: R$ {v[0]:10,.2f} | Quantidade: {v[1]:,.2f} \
            | {v[0] * v[1]:,.2f}")
        total = total + v[0] * v[1]
    # Fim do loop for
    print(f"\nTotal em estoque: R${total:,.2f}")
else:
    print(f"\nNenhum item cadastrado!!!")

*** MÓDULO DE ESTOQUE; ***


Digite o nome do produto : chocolate

Digite o preço do CHOCOLATE: 10
Digite a quantidade do CHOCOLATE: 50

Digite o nome do produto : sair

*** RELAÇÃO DE ITENS EM ESTOQUE ***

CHOCOLATE  | Preço: R$      10.00 | Quantidade: 50.00             | 500.00

Total em estoque: R$500.00

In [ ]:
# Dado o dicionário abaixo, exiba as seguintes informações: (sem usar o 'for')

funcionarios = {
    "alex": ["analista", "ti", 7500],
    "bruna": ["analista", "rh", 4800],
    "pedro": ["cordenador", "projetos", 15000],
    "joao": ["assistente", "projetos", 3100]
}

In [ ]:
# a) Exiba o salário da bruna da seguinte forma:
# Bruna tem um salário de R$ 4800
nome = list(funcionarios.keys())
nome1 = nome[1]
salario = funcionarios['bruna']
print(f"{nome1} tem um salário de : {salario[2]}")

bruna tem um salário de : 4800

In [ ]:
# b) Exiba o cardo do Joao da seguinte forma:
# Joao é assistente na empresa
print(f"{list(funcionarios.keys())[3]}  é {list(funcionarios.values())[3][0]} na empresa")

joao  é assistente na empresa

In [ ]:
# c) Exiba a diferença entre o salário do pedro e do alex
# Mostre da seguinte forma:
# A diferença de salário entre Pedro e Alex é de R$ xxxxx
print(f"A diferença do salário entre {list(funcionarios.keys())[2]} e {list(funcionarios.keys())[0]} é {list(funcionarios.values())[2][2]-list(funcionarios.values())[0][2]}")

A diferença do salário entre pedro e alex é 7500

In [ ]:
# Funções em Python
# Crie uma função que exiba na tela 3 vezes a frase : "Boa noite Senai!"

def boa_noite():
    for i in range(3):
        print(f"Boa noite Senai!!!")

In [ ]:
# Invocando a (executar) a função
boa_noite()
print(";;;;;;;;;;;;;;;;;;;;;;;;;")
boa_noite()

RecursionError: maximum recursion depth exceeded

In [ ]:
# Crie uma função que receba uma frase e a quantidade de vezes
# que a frase sera repetida

def dizer_frase(frase, qtd):
    for r in range(qtd):
        print(frase)

In [ ]:
# Invocando função